<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HelloWorld" connectionString="Data Source=.\;Initial Catalog=HelloWorld;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Integrator" connectionString="Data Source=.\;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>